.textContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question{
    display: flex;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-align: center;
}
.remained{
    font-size: large;
    background-color: aqua;
}
.marker{
    font-size: large;
}
.text{
    color: black !important;
    background-color: red;
    margin-top: 2rem;
    font-size: 2vw;
    letter-spacing: 0.1em;
    text-align: center;
}
